@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
	Dr. Mario Alberto Bárcenas<br />
	Centro Histórico, CDMX 98052-6399<br />
	<abbr title="Phone">TEL:</abbr>
	425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">contacto@ipn.mx</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">cda@ipn.mx</a>
</address>