@{
    ViewBag.Title = "Página Inicio";
}

<div class="jumbotron">
    <h1>ANDROMEDA</h1>
    <p class="lead">Realizado con ASP.NET</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Más... &raquo;</a></p>
</div>
